<footer class="footer">
		<div class="footer-links">
			<div class="column">
				<h3>About RainyDays</h3>
				<ul>
				<li><a href="our-history.html">Our history</a></li>
				<li><a href="our-brands.html">Our brands</a></li>
				<li><a href="our-values.html">Our values</a></li>
				</ul>
			</div>

			<div class="column">
				<h3>Customer Service</h3>
				<ul>
				<li><a href="customer-support.html">Customer support</a></li>
				<li><a href="contact-us.html">Contact us</a></li>
				<li><a href="shipping.html">Shipping</a></li>
				<li><a href="payments.html">Payments</a></li>
				</ul>
			</div>
		</div>

		<div class="footer-logo">
			<img src="images/rainydays-logo.png" alt="RainyDays Logo">
		</div>
		<p class="footer-copy">&copy; 2024 RainyDays. All rights reserved.</p>
	</footer>