<header class="header">

  <div class="header-inner">
    <div class="header-content">

      <div class="header-left">
        <button class="hamburger" aria-expanded="false">
          <i class="fa-solid fa-bars"></i>
        </button>

        <input type="text" class="search" placeholder="Search...">
      </div>

      <div class="header-center">
        <a href="index.html">
          <img class="logo" src="images/rainydays-logo.png" alt="RainyDays Logo">
        </a>
      </div>

      <div class="header-right">
        <div class="icon-group">
          <a href="profile.html"><i class="fa-regular fa-user"></i></a>
          <a href="favorites.html"><i class="fa-regular fa-heart"></i></a>
          <a href="cart.html" class="cart-link">
            <i class="fa-solid fa-bag-shopping"></i>
            <span id="cart-count">0</span>
          </a>
        </div>
      </div>

    </div>
  </div>

  <nav class="mobile-nav">
    <button class="close-mobile-nav">
	<i class="fa-solid fa-xmark"></i>
	</button>

	<a href="womens.html">Women</a>
	<a href="mens.html">Men</a>
	<a href="news.html">News</a>
	<a href="sale.html">Sale</a>

	<a href="profile.html">Profile</a>
	<a href="favorites.html">Favorites</a>
	<a href="cart.html">Cart</a>

	<a href="customer-support.html">Customer Support</a>
	<a href="contact-us.html">Contact Us</a>
	<a href="shipping.html">Shipping</a>
	<a href="payments.html">Payments</a>

  </nav>

  <nav class="desktop-nav">
    <a href="womens.html">Women</a>
    <a href="mens.html">Men</a>
    <a href="news.html">News</a>
    <a href="sale.html">Sale</a>
  </nav>

</header>